<!-- Top Contact Info -->
<div class="top-contact">
    <div class="container">
        <span>Bize Ulaşın: +90 212 541 0924</span>
    </div>
</div>

<!-- Main Header -->
<header class="main-header" id="header">
    <div class="container">
        <div class="header-content">
            <!-- Logo -->
             <div class="menu-toggle">
                <div class="icon">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
                </div>
                <span>Menu</span>
             </div>
            <div class="logo">
                <a href="/">
                    <img src="../../img/logo/brand-logo/header-brand-logo.jpg" alt="GEBB Logo">
                </a>
            </div>

            <!-- Search Bar -->
            <div class="search-bar">
                <form action="#" method="get">
                    <label for="header-search">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="16"  height="16"  viewBox="0 0 24 24"  fill="none"  stroke="#ccc"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                    </label>
                    <input id="header-search" type="search" placeholder="Sitede Ara..." aria-label="Search">
                </form>
            </div>

            <!-- User Actions -->
            <div class="user-actions">
                <a href="my-account.html" class="action-item profile">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#434343"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                    <span>Hesabım</span>
                </a>
                <a href="sss.html" class="action-item">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#434343"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-question-mark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 8a3.5 3 0 0 1 3.5 -3h1a3.5 3 0 0 1 3.5 3a3 3 0 0 1 -2 3a3 4 0 0 0 -2 4" /><path d="M12 19l0 .01" /></svg>
                    <span>S.S.S</span>
                </a>
                <a href="basket.html" class="action-item">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#434343"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>
                    <span>Sipariş</span>
                </a>
            </div>
        </div>
    </div>

    <div class="mobile-menu-overlay"></div>
    <div class="mobile-menu">
        <div class="mobile-menu-container">
            <div class="close-menu">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="40"  height="40"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
            </div>
            <nav class="mobile-menu-content">
                <ul>
                    <li><a href="/masuralar">Anasayfa</a></li>
                    <li><a href="/plakalar">Blog</a></li>
                    <li><a href="/liperler">Ürünler</a></li>
                    <li><a href="/ayaklar">Bıçaklar</a></li>
                    <li><a href="/igneler">İğneler</a></li>
                    <li><a href="/igneler">Lüperler</a></li>
                    <li><a href="/igneler">Ayaklar</a></li>
                </ul>
                <div class="divider"></div>
                <div class="title">
                    <p>Gözat</p>
                </div>
                <ul class="browse-menu">
                    <li><a href="/masuralar">Hesabım</a></li>
                    <li><a href="/plakalar">Siparişlerim</a></li>
                    <li><a href="/liperler">Beğendiklerim</a></li>
                    <li><a href="/ayaklar">Sık Sorulan Sorular</a></li>
                    <li><a href="/igneler">İletişime Geç</a></li>
                </ul>
                <div class="divider"></div>
                <div class="title">
                    <p>Whatsapp</p>
                </div>
                <ul class="browse-menu">
                    <li><a href="tel:+905377054153">+90 537 705 4153</a></li>
                </ul>
                <div class="divider"></div>
                <div class="title">
                    <p>Sosyal Medya</p>
                </div>
                <ul class="browse-menu">
                    <li><a href="/masuralar">Facebook</a></li>
                    <li><a href="/plakalar">Twitter</a></li>
                    <li><a href="/liperler">Instagram</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!-- Navigation Menu -->
<nav class="main-nav">
    <div class="container d-flex align-items-center">
        <ul class="nav-list d-flex align-items-center">
            <li><a href="index.html">Anasayfa</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="product-category.html">Ürünler</a></li>
            <li><a href="product-category.html">Bıçaklar</a></li>
            <li><a href="product-category.html">İğneler</a></li>
            <li><a href="product-category.html">Liperler</a></li>
            <li><a href="product-category.html">Ayaklar</a></li>
        </ul>
        <div class="cart">
            <a href="/sepet">
                <span>0,00₺</span>
                <div class="cart-count">
                    <span>0</span>
                    <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.78524 20.526L1.22004 11.192C0.983438 9.7802 0.865138 9.0756 1.24474 8.6128C1.62304 8.15 2.31984 8.15 3.71214 8.15H22.9885C24.3808 8.15 25.0776 8.15 25.4559 8.6128C25.8355 9.0756 25.7159 9.7802 25.4806 11.192L23.9154 20.526C23.3967 23.62 23.138 25.1657 22.0785 26.0835C21.0203 27 19.4941 27 16.4417 27H10.2589C7.20654 27 5.68034 27 4.62214 26.0822C3.56264 25.1657 3.30394 23.6187 2.78524 20.5247M20.5003 8.15C20.5003 6.2537 19.747 4.43507 18.4062 3.09419C17.0653 1.7533 15.2466 1 13.3503 1C11.454 1 9.63541 1.7533 8.29452 3.09419C6.95364 4.43507 6.20034 6.2537 6.20034 8.15" stroke="#ED7520" stroke-width="0.896552" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                    
                </div>
            </a>
        </div>
    </div>
</nav>

<!-- Notification Bar -->
<div class="notification-bar">
    <div class="container d-flex align-items-center justify-content-center">
        <p>Ürününden önce ölçü alıp makinanıza parçalanma mı ihtiyacınız var? Doğru adrestesiniz.</p>
    </div>
</div>