<!DOCTYPE html>
<html lang="tr" dir="ltr" class="ltr">
<head>
    <meta charset="UTF-8" />
    <title>Garment E-Commerce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <meta name="keywords" content="Webpack, Frontend, Starter Kit" />
    <meta name="description" content="Modern Frontend Development Starter Kit with Webpack" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body class="{% block bodyClass %}{% endblock %}">
    <div class="wrapper">
        <div class="content">
            {% include "partial/header.html" %}
            <main>
                {% block content %}{% endblock %}
            </main>
            {% include "partial/footer.html" %}
        </div>
    </div>
</body>
</html>
