@use "../config/fonts" as *;

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 4rem;
  line-height: 4.8rem;
  @include font-medium;
  display: block;
  color: #434343;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.6rem;
  @include font-medium;
  color: #434343;
  display: block;
  margin-bottom: 2rem;
}
p{
  font-size: 1.5rem;
  line-height: 2.3rem;
  @include font-regular;
  color: #434343;
  margin-bottom: 2rem;
  &:last-of-type{
    margin-bottom: 0;
  }
}
span{
  font-size: 1.5rem;
  line-height: 2.3rem;
  @include font-regular;
  color: #434343;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.1rem;
  @include font-semibold;
  color: #434343;
  margin-bottom: 1.6rem;
}

