{% extends "layout/layout-general.html" %}
{% block content %}
<div class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="index.html">Anasayfa</a></li>
            <span>
                <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.860085 6.90625L2.76918 3.82386H4.19602V3.9233L2.1875 6.90625H0.860085ZM0.860085 0.801136H2.1875L4.19602 3.78409V3.88352H2.76918L0.860085 0.801136ZM3.66406 6.90625L5.57315 3.82386H7V3.9233L4.99148 6.90625H3.66406ZM3.66406 0.801136H4.99148L7 3.78409V3.88352H5.57315L3.66406 0.801136Z" fill="#CCCCCC"/>
                </svg>                    
            </span>
            <li><a href="blog.html">Blog</a></li>
            <span>
                <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.860085 6.90625L2.76918 3.82386H4.19602V3.9233L2.1875 6.90625H0.860085ZM0.860085 0.801136H2.1875L4.19602 3.78409V3.88352H2.76918L0.860085 0.801136ZM3.66406 6.90625L5.57315 3.82386H7V3.9233L4.99148 6.90625H3.66406ZM3.66406 0.801136H4.99148L7 3.78409V3.88352H5.57315L3.66406 0.801136Z" fill="#CCCCCC"/>
                </svg>                    
            </span>
            <li>Dikiş Güvenliği İpuçları</li>
        </ul>
    </div>
</div>

<div class="blog-page">
    <div class="container">
        <div class="row">
            <!-- Blog Posts Column -->
            <div class="col-9">
                <div class="blog-detail-container">
                    <div class="img">
                        <img src="../../img/card/blog-2.png" alt="">
                    </div>
                    <h2>Dikiş Güvenliği İpuçları</h2>
                    <span class="date">30 Mayıs 2023</span>
                    <p>Dikiş, yaratıcılığınızı ifade etmenin eğlenceli ve rahatlatıcı bir yoludur. Ancak, dikkatli kullanılmadığında tehlikeli olabilen keskin ve sivri objeler içeren bir aktivitedir.</p>
                    <p>İşte en yaygın dikiş tehlikelerinden kaçınmanıza yardımcı olacak bazı ipuçları.</p>
                    <h3>Keskin Nesneleri Ağzınızdan Uzak Tutun</h3>
                    <p>Belki de birçok film ve TV programında görmüşsünüzdür. Yoğun bir moda tasarımcısı stüdyosunda hırsla çalışıyor, yaratıcı enerjiyle parlayan gözleri var. Saçlarından sarkan kalemler, boynuna asılı ölçüm bandı ve ağzından sarkan birkaç düz pim bulunuyor.</p>
                    <p>Bu hiç yapmamanız gereken bir şeydir. Evet, elleriniz meşgul olduğunda ağzınız pratik bir “bekleme alanı” gibi görünür. Ancak ağzınızda bu iğneler veya iğnelerle tökezlemenizi düşünün. Güzel bir görüntü olmaz, değil mi?</p>
                    <p>Düz pimler ve iğneler ipin yastıklarına yerleştirilir. Kolaylık sağlamak için bileğinize takabileceğiniz bir pin yastığı satın alın.</p>
                    <h3>Makas Güvenliği</h3>
                    <p>En iyi kumaş makasları ve dikiş makasları bıçağı keskin olanlardır. Ancak bir şey ne kadar keskinse, o kadar tehlikelidir. İşte makas güvenliği ipuçları.</p>
                    <p>Makasları henüz kullanmadığınızda kucakladığınız alışkanlığı edinmek çok kolay olabilir. Ancak bunu yeterince sık yaparsanız, kendinizi uyluğunuzdan bıçaklayacağınız bir zaman meselesi olabilir.</p>
                    <p>Bunun yerine, makasları kullanmadığınızda bıçakları aşağıya doğru bir kap içine bırakın. Böylece dikkatinizin dağılmasından dolayı yanlış ucu yakalamaktan endişe etmek zorunda kalmazsınız.</p>
                    <p>Eğer mutlaka makasları düz bir yüzeye bırakmanız gerekiyorsa, bıçaklar kapalı ve makaslar kolayca yere düşebilecek bir konumda olmadığından emin olun. Ve makasları almaya gittiğinizde yaptığınıza dikkat edin.</p>
                    <p>Son olarak, başkasına bıçakları bıçak ucuyla vermek, özellikle biriniz gerçekten dikkat etmiyorsa kazalara yol açar. Bunun yerine, bıçakları tutmayı baştan elini tutarak verin.</p>
                    <h3>Modunuz Fark Yaratır</h3>
                    <p>Bunun yerine, makasları kullanmadığınızda bıçakları aşağıya doğru bir kap içine bırakın. Böylece dikkatinizin dağılmasından dolayı yanlış ucu yakalamaktan endişe etmek zorunda kalmazsınız.</p>
                    <p>Eğer mutlaka makasları düz bir yüzeye bırakmanız gerekiyorsa, bıçaklar kapalı ve makaslar kolayca yere düşebilecek bir konumda olmadığından emin olun. Ve makasları almaya gittiğinizde yaptığınıza dikkat edin.</p>
                    <p>Son olarak, başkasına bıçakları bıçak ucuyla vermek, özellikle biriniz gerçekten dikkat etmiyorsa kazalara yol açar. Bunun yerine, bıçakları tutmayı baştan elini tutarak verin.</p>
                    <div class="d-flex align-items-center blog-buttons-grid">
                        <a href="#" class="prev-blog">
                            <span>ÖNCEKİ YAZI</span>
                            <p>İğne Çubuğu Nedir?</p>
                        </a>
                        <a href="#" class="next-blog">
                            <span>SONRAKİ YAZI</span>
                            <p>Yeni Başlayan Herkesin Bilmesi Gereken 9 Dikiş Terimi ve Tekniği</p>
                        </a>
                    </div>
                    <div class="comment-form">
                        <h3>Bir cevap yazın</h3>
                        <p class="comment-note">E-posta hesabınız yayımlanmayacak. Gerekli alanlar <span class="required">*</span> ile işaretlenmişlerdir</p>
                        
                        <form action="#" method="post">
                            <div class="form-group">
                                <label for="comment">Yorum <span class="required">*</span></label>
                                <textarea id="comment" name="comment" rows="8" required></textarea>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="name">İsim <span class="required">*</span></label>
                                    <input class="isim-input" type="text" id="name" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">E-posta <span class="required">*</span></label>
                                    <input type="email" id="email" name="email" required>
                                </div> 
                            </div>

                            <div class="form-group checkbox">
                                <input type="checkbox" id="save-info" name="save-info">
                                <label for="save-info">Bir dahaki sefere yorum yaptığımda kullanılmak üzere adımı, e-posta adresimi ve web site adresimi bu tarayıcıya kaydet.</label>
                            </div>

                            <button type="submit" class="submit-button">Yorum gönder</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="sidebar-products left">
                    <h3 class="sidebar-title">En Çok Satan Ürünler</h3>
                    <div class="product-list">
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">MF00A0834 Mitsubishi Elektronik Düz Makine Hareketli Bıçak</h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-9.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">277112 Pegasus Jack Ex 4 İplik Overlok Ayağı</h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-7.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">MF00A0834 Mitsubishi Elektronik Düz Makine Hareketli Bıçak</h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-8.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-4.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-6.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-8.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-7.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-8.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-9.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-8.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
