{% extends "layout/layout-general.html" %}

{% block content %}
<div class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="index.html">Anasayfa</a></li>
            <span>
                <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.860085 6.90625L2.76918 3.82386H4.19602V3.9233L2.1875 6.90625H0.860085ZM0.860085 0.801136H2.1875L4.19602 3.78409V3.88352H2.76918L0.860085 0.801136ZM3.66406 6.90625L5.57315 3.82386H7V3.9233L4.99148 6.90625H3.66406ZM3.66406 0.801136H4.99148L7 3.78409V3.88352H5.57315L3.66406 0.801136Z" fill="#CCCCCC"/>
                </svg>                    
            </span>
            <li>Blog</li>
        </ul>
    </div>
</div>

<div class="blog-page">
    <div class="container">
        <div class="row blog-page-container">
            <!-- Blog Posts Column -->
            <div class="col-9 blog-card-container">
                <div class="blog-grid">
                    <a href="blog-detail.html" class="blog-card">
                        <div class="blog-image">
                            <img src="../../img/card/blog-1.png" alt="Blog Post 1">
                            <div class="hover-icon">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">Yeni Başlayan Herkesin Bilmesi Gereken 9 Dikiş Terimi ve Tekniği</h2>
                            <span class="blog-date">8 Mart 2025</span>
                        </div>
                    </a>
                    <a href="blog-detail.html" class="blog-card">
                        <div class="blog-image">
                            <img src="../../img/card/blog-2.png" alt="Blog Post 2">
                            <div class="hover-icon">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">Dikiş Güvenliği İpuçları</h2>
                            <span class="blog-date">5 Mart 2025</span>
                        </div>
                    </a>
                    <a href="blog-detail.html" class="blog-card">
                        <div class="blog-image">
                            <img src="../../img/card/blog-1.png" alt="Blog Post 3">
                            <div class="hover-icon">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">İğne Çubuğu Nedir?</h2>
                            <span class="blog-date">1 Mart 2025</span>
                        </div>
                    </a>
                    <a href="blog-detail.html" class="blog-card">
                        <div class="blog-image">
                            <img src="https://picsum.photos/200/300" alt="Blog Post 1">
                            <div class="hover-icon">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">Yeni Başlayan Herkesin Bilmesi Gereken 9 Dikiş Terimi ve Tekniği</h2>
                            <span class="blog-date">8 Mart 2025</span>
                        </div>
                    </a>
                    <a href="blog-detail.html" class="blog-card">
                        <div class="blog-image">
                            <img src="https://picsum.photos/id/237/200/300" alt="Blog Post 2">
                            <div class="hover-icon">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">Dikiş Güvenliği İpuçları</h2>
                            <span class="blog-date">5 Mart 2025</span>
                        </div>
                    </a>
                    <a href="blog-detail.html" class="blog-card">
                        <div class="blog-image">
                            <img src="https://picsum.photos/id/27/200/300" alt="Blog Post 3">
                            <div class="hover-icon">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">İğne Çubuğu Nedir?</h2>
                            <span class="blog-date">1 Mart 2025</span>
                        </div>
                    </a>
                    <a href="blog-detail.html" class="blog-card">
                        <div class="blog-image">
                            <img src="https://picsum.photos/id/217/200/300" alt="Blog Post 1">
                            <div class="hover-icon">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">Yeni Başlayan Herkesin Bilmesi Gereken 9 Dikiş Terimi ve Tekniği</h2>
                            <span class="blog-date">8 Mart 2025</span>
                        </div>
                    </a>
                    <a href="blog-detail.html"div class="blog-card">
                        <div class="blog-image">
                            <img src="https://picsum.photos/id/137/200/300" alt="Blog Post 2">
                            <div class="hover-icon">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">Dikiş Güvenliği İpuçları</h2>
                            <span class="blog-date">5 Mart 2025</span>
                        </div>
                    </a>
                    <a href="blog-detail.html" class="blog-card">
                        <div class="blog-image">
                            <img src="https://picsum.photos/id/238/200/300" alt="Blog Post 3">
                            <div class="hover-icon">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">İğne Çubuğu Nedir?</h2>
                            <span class="blog-date">1 Mart 2025</span>
                        </div>
                    </a>
                    <a href="blog-detail.html" class="blog-card">
                        <div class="blog-image">
                            <img src="../../img/card/blog-1.png" alt="Blog Post 1">
                            <div class="hover-icon">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">Yeni Başlayan Herkesin Bilmesi Gereken 9 Dikiş Terimi ve Tekniği</h2>
                            <span class="blog-date">8 Mart 2025</span>
                        </div>
                    </a>
                    <a href="blog-detail.html" class="blog-card">
                        <div class="blog-image">
                            <img src="../../img/card/blog-2.png" alt="Blog Post 2">
                            <div class="hover-icon">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">Dikiş Güvenliği İpuçları</h2>
                            <span class="blog-date">5 Mart 2025</span>
                        </div>
                    </a>
                    <a href="blog-detail.html" class="blog-card">
                        <div class="blog-image">
                            <img src="../../img/card/blog-1.png" alt="Blog Post 3">
                            <div class="hover-icon">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">İğne Çubuğu Nedir?</h2>
                            <span class="blog-date">1 Mart 2025</span>
                        </div>
                    </a>
                    <a href="blog-detail.html" class="blog-card">
                        <div class="blog-image">
                            <img src="https://picsum.photos/200/300" alt="Blog Post 1">
                            <div class="hover-icon">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">Yeni Başlayan Herkesin Bilmesi Gereken 9 Dikiş Terimi ve Tekniği</h2>
                            <span class="blog-date">8 Mart 2025</span>
                        </div>
                    </a>
                </div>
                <div class="blog-pagination">
                    <ul>
                        <li class="disabled"><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#"><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.375 1L6.625 6L1.375 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg></a></li>
                    </ul>
                </div>
            </div>

            <!-- Popular Products Sidebar -->
            <div class="col-3 most-sales">
                <div class="sidebar-products left">
                    <h3 class="sidebar-title">En Çok Satan Ürünler</h3>
                    <div class="product-list">
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">MF00A0834 Mitsubishi Elektronik Düz Makine Hareketli Bıçak</h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-9.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">277112 Pegasus Jack Ex 4 İplik Overlok Ayağı</h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-7.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">MF00A0834 Mitsubishi Elektronik Düz Makine Hareketli Bıçak</h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-8.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-4.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-6.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-8.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-7.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-8.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-9.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-8.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
