{% extends "layout/layout-general.html" %}
{% block content %}
<div class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="index.html">Anasayfa</a></li>
            <span>
                <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.860085 6.90625L2.76918 3.82386H4.19602V3.9233L2.1875 6.90625H0.860085ZM0.860085 0.801136H2.1875L4.19602 3.78409V3.88352H2.76918L0.860085 0.801136ZM3.66406 6.90625L5.57315 3.82386H7V3.9233L4.99148 6.90625H3.66406ZM3.66406 0.801136H4.99148L7 3.78409V3.88352H5.57315L3.66406 0.801136Z" fill="#CCCCCC"/>
                </svg>                    
            </span>
            <li><a href="blog.html">Konfeksiyon Yedek Parçaları</a></li>
            <span>
                <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.860085 6.90625L2.76918 3.82386H4.19602V3.9233L2.1875 6.90625H0.860085ZM0.860085 0.801136H2.1875L4.19602 3.78409V3.88352H2.76918L0.860085 0.801136ZM3.66406 6.90625L5.57315 3.82386H7V3.9233L4.99148 6.90625H3.66406ZM3.66406 0.801136H4.99148L7 3.78409V3.88352H5.57315L3.66406 0.801136Z" fill="#CCCCCC"/>
                </svg>                    
            </span>
            <li>Dikiş Makinası Ayakları</li>
        </ul>
    </div>
</div>
<section class="category-page">
    <div class="container">
        <div class="row category-row">
            <div class="col-3 most-sales">
                <div class="sidebar-products right">
                    <h3 class="sidebar-title">En Çok Satan Ürünler</h3>
                    <div class="product-list">
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">MF00A0834 Mitsubishi Elektronik Düz Makine Hareketli Bıçak</h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-9.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">277112 Pegasus Jack Ex 4 İplik Overlok Ayağı</h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-7.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">MF00A0834 Mitsubishi Elektronik Düz Makine Hareketli Bıçak</h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-8.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-4.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-6.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-8.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-7.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-8.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-9.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-item">
                            <div class="product-content">
                                <div class="d-flex w-100">
                                    <h4 class="product-title">209685 Pegasus M700 Zincir Dikiş Lüperi </h4>
                                    <div class="product-image">
                                        <img src="../../img/products/product-8.png" alt="Popular Product 1">
                                    </div>
                                </div>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-9 category-grid">
                <div class="product-category">
                    <h2 class="section-title">Dikiş Makinası Ayakları</h2>
                    <div class="products-grid repeat3">
                        <a href="product-detail.html" class="product-card">
                            <div class="discount-badge">-16%</div>
                            <div class="product-image">
                                <img src="../../img/products/urun-1.png" alt="P2446 Siruba Etek Reçme Ayağı 5.6 mm">
                            </div>
                            <div class="product-content">
                                <h3 class="product-title">P2446 Siruba Etek Reçme Ayağı 5.6 mm</h3>
                                <div class="product-price d-flex align-items-center">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                                <button class="add-to-cart">Sepete Ekle</button>
                            </div>
                        </a>
                        <a href="product-detail.html" class="product-card">
                            <div class="discount-badge">-1%</div>
                            <div class="product-image">
                                <img src="../../img/products/urun-1.png" alt="P2446 Siruba Etek Reçme Ayağı 5.6 mm">
                            </div>
                            <div class="product-content">
                                <h3 class="product-title">S19334 Brother N Serisi Kot Overlok Ayağı</h3>
                                <div class="product-price">
                                    <span class="old-price">321.45₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                                <button class="add-to-cart">Sepete Ekle</button>
                            </div>
                        </a>
                        <a href="product-detail.html" class="product-card">
                            <div class="discount-badge">-3%</div>
                            <div class="product-image">
                                <img src="../../img/products/urun-1.png" alt="P2446 Siruba Etek Reçme Ayağı 5.6 mm">
                            </div>
                            <div class="product-content">
                                <h3 class="product-title">277112 Pegasus Jack Ex 4 İplik Overlok Ayağı</h3>
                                <div class="product-price">
                                    <span class="old-price">185.24₺</span>
                                    <span class="current-price">180.16₺</span>
                                </div>
                                <button class="add-to-cart">Sepete Ekle</button>
                            </div>
                        </a>
                        <a href="product-detail.html" class="product-card">
                            <div class="discount-badge">-1%</div>
                            <div class="product-image">
                                <img src="../../img/products/urun-1.png" alt="P2446 Siruba Etek Reçme Ayağı 5.6 mm">
                            </div>
                            <div class="product-content">
                                <h3 class="product-title">277112 Ex Tipi Kot Overlok Ayağı</h3>
                                <div class="product-price">
                                    <span class="old-price">319.63₺</span>
                                    <span class="current-price">315.27₺</span>
                                </div>
                                <button class="add-to-cart">Sepete Ekle</button>
                            </div>
                        </a>
                        <a href="product-detail.html" class="product-card">
                            <div class="discount-badge">-4%</div>
                            <div class="product-image">
                                <img src="../../img/products/urun-1.png" alt="P2446 Siruba Etek Reçme Ayağı 5.6 mm">
                            </div>
                            <div class="product-content">
                                <h3 class="product-title">64041 Brother Reçme Altı Oyuk Ayak</h3>
                                <div class="product-price">
                                    <span class="old-price">283.31₺</span>
                                    <span class="current-price">270.60₺</span>
                                </div>
                                <button class="add-to-cart">Sepete Ekle</button>
                            </div>
                        </a>
                        <a href="product-detail.html" class="product-card">
                            <div class="product-image">
                                <img src="../../img/products/urun-1.png" alt="P2446 Siruba Etek Reçme Ayağı 5.6 mm">
                            </div>
                            <div class="product-content">
                                <h3 class="product-title">2159323 Yamato Overlok Üst Lüper</h3>
                                <div class="product-price">
                                    <span class="price">158.00₺</span>
                                </div>
                                <button class="add-to-cart">Sepete Ekle</button>
                            </div>
                        </a>
                        <a href="product-detail.html" class="product-card">
                            <div class="product-image">
                                <img src="../../img/products/urun-1.png" alt="P2446 Siruba Etek Reçme Ayağı 5.6 mm">
                            </div>
                            <div class="product-content">
                                <h3 class="product-title">Y2109347 Yamato Overlok Alt Lüper</h3>
                                <div class="product-price">
                                    <span class="price">158.00₺</span>
                                </div>
                                <button class="add-to-cart">Sepete Ekle</button>
                            </div>
                        </a>
                        <a href="product-detail.html" class="product-card">
                            <div class="product-image">
                                <img src="../../img/products/urun-1.png" alt="P2446 Siruba Etek Reçme Ayağı 5.6 mm">
                            </div>
                            <div class="product-content">
                                <h3 class="product-title">19-404 Kansai İplik Ayırıcı Tırnak</h3>
                                <div class="product-price">
                                    <span class="price">40.68₺</span>
                                </div>
                                <button class="add-to-cart">Sepete Ekle</button>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="category-text">
                    <h2>Dikiş Makinası Ayakları Nedir?</h2>
                    <p>Hepimiz “hayatta en önemli olan küçük şeylerdir” sözünü duymuşuzdur. Bu, bir dikiş makinesinin küçük, çıkarılabilir parçaları için kesinlikle doğrudur.</p>
                    <p>Ayaklar gibi küçük parçalar dikiş makinesinin çalışması için gereklidir. Bir parçanın, adaptörün veya ayağın değiştirilmesi gerektiğinde, GEBB tam bu noktada size yardımcı olabilir.</p>
                    <p>Dikiş makineniz birkaç standart baskı ayağı ile birlikte gelmiş olmalıdır. Bununla birlikte, kapitone, kıvırma ve aplikler gibi herhangi bir sayıda görevi yerine getirebilecek çok daha fazla seçenek mevcuttur. Her türlü dikiş makinesi baskı ayağı ve aksesuarından oluşan geniş bir ürün yelpazesine sahibiz. Ve aradığınızı bulamıyorsanız, nasıl yardımcı olabileceğimizi görmek için lütfen bizimle iletişime geçiniz.</p>
                    <p>Dikiş makinası baskı ayağı konusunda yeniyseniz, bir sonraki projeniz için doğru ürüne karar vermenize yardımcı olabilmemiz için yukarıdaki ürünleri incelediğinizden emin olunuz.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
