{% extends "layout/layout-general.html" %}

{% block content %}
<div class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="index.html">Anasayfa</a></li>
            <span>
                <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.860085 6.90625L2.76918 3.82386H4.19602V3.9233L2.1875 6.90625H0.860085ZM0.860085 0.801136H2.1875L4.19602 3.78409V3.88352H2.76918L0.860085 0.801136ZM3.66406 6.90625L5.57315 3.82386H7V3.9233L4.99148 6.90625H3.66406ZM3.66406 0.801136H4.99148L7 3.78409V3.88352H5.57315L3.66406 0.801136Z" fill="#CCCCCC"/>
                </svg>                    
            </span>
            <li>Mesafeli Satış Sözleşmesi</li>
        </ul>
    </div>
</div>
<section class="contrat-text">
    <div class="container">
        <div class="text-container">
            <h1>MESAFELİ SATIŞ SÖZLEŞMESİ</h1>
            
            <h2>MADDE 1- TARAFLAR</h2>
            
            <p>1.1- SATICI:</p>
            <p>Ünvanı : Proaks Metal Yapı Sistemleri Sanayi Ticaret Limited Şirketi</p>
            <p>Beylikdüzü Vergi Dairesi / 733 041 1327</p>
            <p>Beylikdüzü Birlik Sanayi Sitesi 5. Cadde No:12 Beylikdüzü/İstanbul PK.34520</p>
            
            <p>1.2 -ALICI:</p>
            <p>Adı/soyadı/Ünvanı :</p>
            <p>Adresi :</p>
            <p>Telefon :</p>
            <p>E-mail :</p>
            
            <h2>MADDE 2- KONU</h2>
            <p>İşbu mesafeli satış sözleşmesinin konusu, ALICI'nın SATICI'ya ait <span>gebb.com.tr</span> adlı internet sitesinden elektronik ortamda siparişini yaptığı aşağıda nitelikleri ve satış fiyatı belirtilen ürünün satışı ve teslimi ile ilgili olarak 6502 sayılı Tüketicinin Korunması Hakkındaki Kanun gereğince tarafların hak ve yükümlülüklerinin saptanmasıdır.</p>
            
            <h2>MADDE 3- SÖZLEŞME KONUSU ÜRÜN</h2>
            <ul>
                <li>Ürün Adı Ürün Miktarı Birim Fiyat Toplam Tutar</li>
                <li>TL TL</li>
                <li>KDV Dahil TL</li>
            </ul>
            
            <p>Ürünlerin Cinsi ve türü, Miktarı, Marka/Modeli, Rengi, Satış Bedeli yukarıda belirtildiği gibi olup, bu bilgiler ALICI tarafından da onaylanmıştır.</p>
            
            <ul>
                <li>Ödeme Şekli :</li>
                <li>Toplam Sipariş Tutarı :</li>
                <li>Teslimat Adresi :</li>
                <li>Teslim Edilecek Kişi :</li>
                <li>Fatura Adresi :</li>
                <li>Kargo Ücreti :</li>
            </ul>
            
            <p>Teslimat, kargo firması aracılığı ile SATICI tarafından yukarıda belirtilen adrese yapılacaktır. Kargo Ücreti ALICI tarafından ödenecektir. Kargo Ücreti: ....... TL olup, kargo fiyatı sipariş toplam tutarına eklenmektedir. Teslimat, anlaşmalı kargo firması aracılığı ile ALICI'nın yukarıda belirtilen adresine yapılacaktır. Şu kadar ki, SATICI, satış anında yürüttüğü ve/veya <span>gebb.com.tr</span> adlı internet sitesinde şartlarını ilan ettiği kampanyaların sonucuna bağlı olarak söz konusu kargo ücretinin tamamını ya da bir kısmını ALICI'ya yansıtmayabilir. Sipariş alındıktan sonra tahmini teslimat süresi Satıcı tarafından bildirilecektir. Teslimat süresi, Sipariş onay mailinin gönderilmesinden ve Sözleşmenin kurulmasından itibaren otuz (30) gündür. Alıcıya önceden yazılı olarak veya bir sürekli veri taşıyıcısıyla bildirilmek koşuluyla bu süre en fazla on gün uzatılabilir.</p>
            
            <h2>MADDE 4- GENEL HÜKÜMLER</h2>
            <p>4.1- ALICI, SATICI 'ya ait <span>gebb.com.tr</span> adlı internet sitesinde satışa arz edilen sözleşme konusu ürünün(lerin) <span>gebb.com.tr</span> adlı internet sitesinde belirtilen ve yukarıda yer alan temel nitelikleri, satış fiyatı, fiyatların geçerlilik süresi ve ödeme şekli ile teslimata ilişkin ön bilgileri ve diğer bilgileri okuyup doğru ve eksiksiz şekilde bilgi sahibi olduğunu ve elektronik ortamda satın almaya ilişkin gerekli teyidi verdiğini kabul ve beyan eder.</p>
            
            <p>4.2- Sözleşme konusu ürün/ürünler, yasa ve yönetmeliklerle belirlenen siparişin SATICI'ya ulaşmasını takip eden, yasal 30 günlük süreyi aşmamak koşulu ile her bir ürün için ALICI'nın yerleşim yerinin uzaklığına bağlı olarak işbu 30 (otuz) günlük süre içinde ALICI veya gösterdiği adresteki kişi/kuruluşa teslim edilir. Şu kadar ki, ön sipariş ürünün(ler)inde işbu 30 günlük yasal süre ilgili ürüne ait satış sayfasında ilan edilen satış tarihinden itibaren başlayacak olup, işbu satış tarihinde tedarikçi firma kaynaklı gecikmeler yaşanabilir. İşbu halde SATICI ALICI'yı öncesinde yazılı olarak bilgilendirecektir. Bu halde de ALICI siparişin iptal edilmesini veya teslimat süresini bekleyerek siparişe konu ürün(lerin) teslim edilmesi haklarından birini kullanabilir. ALICI'nın siparişi iptal etmesi halinde ödediği tutar 14 ( on dört ) gün içinde kendisine nakden ve defaten ödenir.</p>
            
            <p>4.3- Mesafeli satış sözleşmesine konu ürün(ler), ALICI'dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/ kuruluşun teslimatı kabul etmemesinden SATICI sorumlu tutulamaz. Ürün, Alıcı'dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun teslimatı kabul etmemesinden, sevk bilgilerindeki yanlışlık ve/veya Alıcı'nın yerinde olmamasından doğabilecek durumlardan ve ekstra kargo bedellerinden Satıcı sorumlu değildir.</p>
        </div>
    </div>
</section>
{% endblock %}