@use "../config/fonts" as *;
@use "../config/media-query" as *;
@use "../config/mixins" as *;

.breadcrumb{
    margin-top: 1.4rem;
    margin-bottom: 2rem;
    ul{
        display: flex;
        align-items: center;
        gap: 0 .8rem;
        li{
            list-style-type: none;
            a{
                font-size: 1.4rem;
                line-height: 1.7rem;
                color: #434343;
                @include font-medium;
                text-decoration: none;
                @include line-clamp(1)
            }
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: #434343;
            @include font-regular;
            @include line-clamp(1);
            @include sm{
                a{
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }
        }
    }
}