@use "../config/fonts" as *;
@use "../config/media-query" as *;
.latest-products {
    width: 100%;
    padding-top: 5.1rem ;
    padding-bottom: 5.1rem;
    .section-title {
        font-size: 3rem;
        line-height: normal;
        color: #ED7520;
        @include font-semibold;
        margin-bottom: 2.1rem;
        text-align: center;
    }

    
}
.products-grid {
    display: grid;
    gap: 0 2.4rem; 
    @include sm{
        align-items: stretch;
        gap: 0;
    }
    &.repeat4{
        grid-template-columns: repeat(4, 1fr); 
        @include sm{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &.repeat3{
        grid-template-columns: repeat(3, 1fr); 
    }

}