@use "../config/fonts" as *;
@use "../config/media-query" as *;

.related-products{
    width: 100%;
    padding-top: 6.5rem;
    padding-bottom: 5rem;
    h2{
        margin-bottom: 3rem;
        @include font-medium;
    }
    @include sm{
        .grid.repeat4{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}